@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,*::before,*::after {
   margin: 0;
   padding: 0;;
   border: 0;
   box-sizing: border-box;}
li {list-style: none;}
a,a:visited {text-decoration: none;}
a:hover { text-decoration: none;}
h1,h2,h3,h4,h5,h6 {
   font-weight: inherit;
   font-size: inherit;}
img {vertical-align: top;}
html,body {height: 100%;}
html { font-size: 16px;/* по умолчанию */}
body {line-height: 1;}

body{
   font-family: "Roboto";
   background-color: #F5F5F5;
   
}

.wrapper {   
   overflow: hidden;
   
}

.container{
   
}

.background{
   height: 1000px;
   background-image: linear-gradient(to bottom, rgba(0, 133, 216, 1) 70%, rgba(110, 119, 116, 1) 70%, rgba(110, 119, 116, 1) 70%, rgba(110, 119, 116, 1) 70%, rgba(0, 133, 216, 1) 70%, rgba(0, 133, 216, 1) 70%, rgba(110, 119, 116, 1) 70%, rgba(110, 119, 116, 1) 70%, rgba(112, 74, 0, 1) 70%);
   background-size: cover;
   position: relative;
}

.background::after{
   content: "";
   width: 100%;
   border-bottom: 20px dashed #000000;
   position: absolute;
   top: 840px;
   z-index: 1;
}
.bacground__sun{
   height: 150px;
   width: 150px;
   background: yellow;
   display: inline-block;
   position: absolute;
   top: 50px;
   left: 100px;     
   animation: sun 4s linear  infinite;
}
.bacground__sun::before {
   content: "";
   display: inline-block;
   height: 150px;
   width: 150px;
   background: yellow;
   transform: rotate(45deg);
}

@keyframes sun{
0% {
      transform: rotate(0deg);
}
100% {
      transform: rotate(360deg);
 }
}

.background__pendulum {
   position: absolute;
   top: 0;
   left: 1500px
   
}

.pendulum {
   background: violet;
   width: 200px;
   height: 150px;
}

.pendulum__item {
   position: relative;
   width: 1px;
}

.pendulum__item::before{
   content: "";
   width: 1px;
   height: 100px;
   background: #000000;
   position: absolute;
   top: 0px;
   transform-origin: 0 0;
}
.pendulum__item::after{
   width: 20px;
   height: 20px;
   background: #000000;
   content: "";
   
   border-radius: 50%;
   position: absolute;
   top: 100px;
   left: 0%;
   transform: translate(-50%,0);

}

.pendulum__item:nth-child(1){
   animation: item-1 1s linear  infinite alternate;
   left: 40%;
   
}

.pendulum__item:nth-child(2) {
   
   left: 50%;
   
}

.pendulum__item:nth-child(3) {
   animation: item-2 1s linear  infinite alternate ;
   left: 60%;
}

@keyframes item-1{
   0%{
      transform: rotate(45deg);
   }
   50%{
      transform: rotate(0deg);
   }
}

@keyframes item-2 {
   50% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(-45deg);
   }
}



.background__about{
   font-size: 30px;
   font-family: "Raleway";
   font-weight: 800;
   max-width: 1000px;
   max-height: 200px;
   position: absolute;
   top: 100px;
   left: 500px;
   line-height: 60px;
   transition: .5s ease;
}

.background__about:hover{
   font-size: 35px;
   transition: .5s ease;
   max-width: 1100px;
}

.car {
   width: 900px;
   position: absolute;
   top: 450px;
   left: 0px;
   z-index: 2; 
   animation: car 15s linear 0s infinite normal none;  
}

@keyframes car{
   0% {
      transform: translate(0px, 0px);
   }
  
   100% {
      transform: translate(2500px, 0px);
   }
}

.car__top {
   height: 0;
   width: 550px;
   border-bottom: 150px solid #2818B1;
   border-left: 100px solid transparent;
   border-right: 100px solid transparent;
   border-radius: 200px 200px 0px 0px;  
   position: relative;
   left: 130px;
   top: 4px;
}

.windows {
   position: relative;
}

.windows__back {
   height: 95px;
   width: 170px;
   background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%);
   border-radius: 200px 0px 0px 0px;
   outline: 13px solid #140b61;
   position: absolute;
   top: 40px;
   left: -20px;
}

.windows__back:hover{
   background: url("../img/ali.jpg") 100%/100% 100% no-repeat;
}

.windows__middle {
   height: 95px;
   width: 210px;
   background: linear-gradient(to bottom, rgba(125, 185, 232, 1) 0%, rgba(32, 124, 202, 1) 43%, rgba(59, 103, 158, 1) 78%, rgba(59, 103, 158, 1) 100%);
   border-radius: 0px 200px 0px 0px;
   outline: 13px solid #140b61;
   position: absolute;
   top: 40px;
   left: 174px;
}

.windows__middle:hover{
   background: url("../img/gusya.jpg") 100%/cover no-repeat;
}

.windows__front {
   height: 165px;
   width: 15px;
   background: linear-gradient(to bottom, rgba(197, 222, 234, 1) 0%, rgba(138, 187, 215, 1) 31%, rgba(61, 137, 204, 1) 100%);
   border-radius: 0 100% 100% 0 / 0 50% 50% 0;
   position: absolute;
   top: -5px;
   left: 400px;
   transform: rotate(-33deg);
   border-left: 3px solid #140b61;
}

.car__midlle {
   font-size: 0;
   position: relative;   
}

.middle-car__top {
   width: 900px;
   height: 160px;
   background: #2818B1;
   border-radius: 300px 500px 40px 60px;
   overflow: hidden;
   
}
.middle-car__top::before {
   content: "";
   display: inline-block;
   width: 70px;
   height: 40px;
   background: linear-gradient(to right, rgba(255, 183, 107, 1) 0%, rgba(255, 167, 61, 1) 44%, rgba(255, 127, 4, 1) 74%);
   position: relative;
   top: 20px;  
   left: 5px; 
   border-radius: 0px 5px 30px 0px;
}
.middle-car__top::after {
   content: "";
   display: inline-block;
   width: 40px;
   height: 10px;
   background: linear-gradient(to right, rgba(255, 183, 107, 1) 0%, rgba(255, 167, 61, 1) 44%, rgba(255, 127, 4, 1) 74%);
   position: relative;
   top: 70px;
   left: 0px;
   border-radius: 0px 30px 30px 0px;
}

.middle-car__doors {  
   
}

.door__1 {
   height: 130px;
   width: 194px;
   background: #2818B1;
   border: 4px solid #140b61;
   transform: skew(15deg);
   position: absolute;
   left: 215px;
   top: -1px;
   z-index: 2;
   border-radius: 0px 0px 0px 40px;   
}

.door__1::before{
   content: "";
   display: inline-block;
   width: 170px;
   height: 10px;
   background: #1a0e7f;
   border-radius: 20px 0px 0px 20px;
   position: relative;
   top: 90px;
   left: 16px;
}

.door__1::after {
   content: "";
   display: inline-block;
   width: 40px;
   height: 40px;
   background: #2818B1;
   border-radius: 50%;
   position: relative;
   top: 20px;
   left: -80px;
   transform: skew(-15deg);
   border: 4px solid #1a0e7f;
}

.door__2 {
   height: 130px;
   width: 235px;
   background: #2818B1;
   border: 4px solid #140b61;
   border-left: none;
   transform: skew(-10deg);
   position: absolute;
   left: 380px;
   top: -1px;
   border-radius: 0px 0px 2px 00px;
   z-index: 1;
}

.door__2::before {
   content: "";
   display: inline-block;
   width: 170px;
   height: 10px;
   background: #1a0e7f;
   border-radius: 0px 20px 20px 0px;
   position: relative;
   top: 90px;
   left: 25px;
}
.door__2::after {
   content: "";
   display: inline-block;
   width: 20px;
   height: 10px;
   border-radius: 50%;
   background: rgba(255, 222, 4, 0.759);
   transform: skew(10deg);
   position: relative;
   top: 30px;
   left: 100px;
}

.door__doorknob {
   width: 50px;
   height: 40px;
   border-radius: 50%;
   background: #2818B1;
   border: 4px solid #1a0e7f;
   position: relative;   
}

.door__doorknob::before{
   content: "";
   display: inline-block;
   width: 70px;
   height: 15px;
   background: #140b61;
   position: absolute;
   top: 8px;
   left: -13px;
   border-radius: 20px;
}

.doorknob-1{
   transform: skew(-15deg);
   position: absolute;
   top: 30px;
   left: 30px;
}

.doorknob-2 {
   transform: skew(10deg);
   position: absolute;
   top: 30px;
   left: 50px;
}

.middle-car__headlight-1{
   width: 60px;
   height: 50px;
   background: radial-gradient(ellipse at center, rgba(255, 183, 107, 1) 2%, rgba(255, 183, 107, 1) 2%, rgba(255, 183, 107, 1) 15%, rgba(255, 167, 61, 1) 29%, rgba(255, 127, 4, 1) 58%);
   border-radius: 5px 75px 15px 75px;
   transform: skew(45deg);
   position: absolute;
   top: 10px;
   left: 770px;
}

.car__wheels {
   position: relative;
}

.wheels {
   width: 130px;
   height: 130px;
   border-radius: 50%;
   background: #333232;  
   display: inline-block;
   
}



.wheels-1{
   position: absolute;
   top: -80px;
   left: 60px;
}

.wheels-1::before{
   content: "";
   display: inline-block;
   width: 20px;
   height: 20px;   
   background: #000000;
   border-radius: 50%;   
   outline: 10px dotted #000000c8;
   padding: 0px;
   position: absolute;
   z-index: 1;
   top: 65px;
   left: 55px;
   animation: wheel 3s linear 0s infinite normal none;
}

@keyframes wheel {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

.wheels-2 {
   position: absolute;
   top: -80px;
   left: 670px;
}

.wheels-2::before{
   content: "";
   display: inline-block;
   width: 20px;
   height: 20px;
   background: #000000;
   border-radius: 50%;
   outline: 10px dotted #000000c8;
   position: absolute;
   z-index: 1;
   top: 65px;
   left: 55px;
}

.wheels__wheel {
   width: 120px;
   height: 120px;
   border-radius: 50%;
   background: radial-gradient(ellipse at center, rgba(76, 76, 76, 1) 0%, rgba(102, 102, 102, 1) 45%, rgba(71, 71, 71, 1) 45%, rgba(102, 102, 102, 1) 45%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 50%, rgba(17, 17, 17, 1) 50%, rgba(43, 43, 43, 1) 50%, rgba(28, 28, 28, 1) 50%, rgba(19, 19, 19, 1) 100%);
   border: 10px dashed #000000;
   position: absolute;
   top: 15px;
   left: 5px;
   transform-origin: center center;
   animation: wheels 5s linear 0s infinite normal forwards; 
}

@keyframes wheels{
   0% {
         transform: rotate(0deg);
      }
   
      100% {
         transform: rotate(360deg);
      }
}


/*Practice*/

.practice{
height: 2000px;
background: rgb(154, 152, 152);
padding: 50px;
font-size: 0;
}

.practics__load {
   width: 200px;
   height: 40px;
   outline: 2px solid #000000;
   background: #ffffff;
   color: #000000;
   position: relative;
   margin: 0px 0px 50px 0px;  
}

.practics__load span {
   color: #000000;
   font-size: 17px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);      
}

.loading {
   background: #dc7e7e;
   width: 100%;
   height: 100%;  
   animation: load 6s linear 0s infinite normal none;
}


@keyframes load {
   0% {
      width: 0%;
   }

   100% {
      width: 100%;
   }
}

.loading:hover{
   animation-play-state: paused;
}

.practice__movement {
   margin: 0px 0px 50px 0px;
   width: 500px;
   height: 150px;
   background-color: #ffffff;
   position: relative;
}

.movement {
   width: 100px;
   height: 100px;
   background-color: #dc7e7e;
   border: 1px solid #000000;
   animation: movement 3s linear 0s 3 normal none;
   position: absolute;
   top: 50%;
   left: 5%;
   transform: translate(0, -50%);
}

@keyframes movement{
   0% {
       left: 0px;
      }
   
   100% {
      left: 375px;
      
      }
}

.practice__endless-movement {
   margin: 0px 0px 50px 0px;
   width: 500px;
   height: 150px;
   background-color: #ffffff;
   position: relative;

}

.endless-movemenе {
   width: 100px;
   height: 100px;
   background-color: #dc7e7e;
   border: 1px solid #000000;
   top: 50%;
   left: 5%;
   transform: translate(0, -50%);
   position: absolute;
   animation: endless-movemenе 3s linear 0s infinite normal none;
}

@keyframes endless-movemenе {
   0% {
      left: 0px;
   }

   100% {
      left: 375px;

   }
}

.practice__background-change {
   margin: 0px 0px 50px 0px;
   width: 500px;
   height: 150px;
   background-color: #ffffff;
   position: relative;
}

.background-change {
   width: 100px;
   height: 100px;
   background-color: #ffffff;
   border: 1px solid #000000;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   animation: background-change 3s ease
   0s infinite normal;

}

@keyframes background-change{
   0% {
      background-color: #ffffff;
   }
   50%{
      background-color: #dc7e7e;
   }

   100% {
     background-color: #ffffff;
   }
}

.practice__movement-square {
   margin: 0px 0px 50px 0px;
   width: 500px;
   height: 500px;
   background-color: #ffffff;
   position: relative;
}

.movement-square {
   width: 100px;
   height: 100px;
   background-color: #dc7e7e;
   border: 1px solid #000000;
   top: 5%;
   left: 5%;
   transform: translate(-5%, -5%);
   position: absolute;
   animation: movement-square 5s linear 0s infinite normal none;
}

@keyframes movement-square{
   0% {
      top: 5%;
     left: 5%; 
   }

   25% {
      top: 5%;
     left: 375px; 
   }
   50% {
      left: 375px;
      top: 375px;
   }
   75% {
      left: 5%;
      top: 375px;
   }
}

.practice__movement-square-with-bg {
   margin: 0px 0px 50px 0px;
   width: 500px;
   height: 500px;
   background-color: #ffffff;
   position: relative;
}

.movement-square-with-bg {
   width: 100px;
   height: 100px;
   background-color: #ffffff;
   border: 1px solid #000000;
   top: 5%;
   left: 5%;
   transform: translate(-5%, -5%);
   position: absolute;
   animation: movement-square 5s linear 0s infinite normal none, background-change 3s ease 0s infinite reverse;
}

.practice__back-and-forth-movement {
   margin: 0px 0px 50px 0px;
   width: 500px;
   height: 150px;
   background-color: #ffffff;
   position: relative;
}

.back-and-forth-movement {
   width: 100px;
   height: 100px;
   background-color: #dc7e7e;
   border: 1px solid #000000;
   top: 50%;
   left: 5%;
   transform: translate(0, -50%);
   position: absolute;
   animation: back-and-forth-movement 3s ease 0s infinite normal none;
}

@keyframes back-and-forth-movement{
   0% {
     left: 5%;
   }

   50% {
      left: 375px;
   }

   100% {
     left: 5%; 
   }
}

.practice__back-and-forth-movement2 {
   margin: 0px 0px 50px 0px;
   width: 500px;
   height: 150px;
   background-color: #ffffff;
   position: relative;
}

.back-and-forth-movement2 {
   width: 100px;
   height: 100px;
   background-color: #dc7e7e;
   border: 1px solid #000000;
   top: 50%;
   left: 5%;
   transform: translate(0, -50%);
   position: absolute;
   animation: back-and-forth-movement2 3s ease 0s infinite alternate none;
}

@keyframes back-and-forth-movement2 {
   0% {
      left: 5%;
   }

   100% {
      left: 375px;
   }
}

.practice__pause {
   margin: 0px 0px 50px 0px;
   width: 500px;
   height: 150px;
   background-color: #ffffff;
   position: relative;
}

.pause {
   width: 100px;
   height: 100px;
   background-color: #dc7e7e;
   border: 1px solid #000000;
   top: 50%;
   left: 5%;
   transform: translate(0, -50%);
   position: absolute;
   animation: pause 3s ease 0s infinite alternate paused;   
}

.pause:hover{
   animation: pause 3s ease 0s infinite alternate none ;
}

@keyframes pause {
   0% {
      width: 100px;
   }

   100% {
      width: 450px;
   }
}

.practice__pause2 {
   margin: 0px 0px 50px 0px;
   width: 500px;
   height: 160px;
   background-color: #ffffff;
   padding: 20px;   
}

.hoverme {
   width: 300px;
   height: 50px;
   background-color: #9a93d3;
   border: 1px solid #000000;
   margin: 0px 0px 20px 0px;
   position: relative;
}

.hoverme:hover + .pause-2 {   
   animation-play-state: running;
}

.hoverme span{
   color: #000000;
   font-size: 16px;
   position: absolute;
   text-transform: uppercase;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.pause-2 {
   width: 100px;
   height: 50px;
   background-color: #dc7e7e;
   border: 1px solid #000000; 
   position: relative;
   animation: pause-2 3s linear infinite alternate;
   animation-play-state: paused;
}

@keyframes pause-2 {
   0% {
      width: 100px;
   }

   100% {
      width: 450px;
   }
}

.practice__bouncing {
   margin: 0px 0px 50px 0px;
   width: 500px;
   height: 300px;
   background-color: #ffffff;
   border: 3px solid #000000;
   position: relative;
}

.bouncing {
   width: 50px;
   height: 50px;
   background-color: #9a93d3;
   border-radius: 50%;
   position: absolute;
   animation: bouncing 5s  ease-out  infinite normal none;
}

@keyframes bouncing {
   40%, 70%, 90%{
      bottom: 0px;
      animation-timing-function: ease-out;
   }
   0% {
      bottom:250px;
      left: 0px;
      animation-timing-function: ease-in;
   }
   50%{
      bottom: 150px;
      left: 90px;
      animation-timing-function: ease-in;
   }
   80% {
      bottom: 50px;
      left: 120px;
      animation-timing-function: ease-in;
   }
   100%{
      bottom: 0px;
      left: 190px;
      animation-timing-function: ease-in;
   }


  
}